doctype html 
html 
    head 
        title Panel Administrador
    body 
        header
            h1 PANEL ADMINISTRATIVO
        nav 
            ul 
                li: a(href="")
                li: a(href="") REGISTRAR ALUMNO 
                li: a(href="") REGISTRAR INSCRIPCIÓN
                li: a(href="/admin/register-course") REGISTRAR CURSO
                li: a(href="") REGISTRAR ASISTENCIA   
        main   
            block content    