extends admin-panel-layout

block content
  h2(style="margin-bottom: 1.5rem") Cursos Completos

  if full.length
    .table-responsive
      table.table.table-striped.table-bordered.text-center
        thead.table-dark
          tr
            th Nombre
            th Cupo
            th Inscriptos
        tbody
          each curso in full
            tr
              td #{curso.name}
              td #{curso.capacity}
              td #{curso.enrolled}
  else
    .alert.alert-info No hay cursos completos actualmente.
