extends admin-panel-layout

block content
  h2(style="margin-bottom: 2rem") Cupos disponibles por curso

  if availableCourses.length
    table.table.table-striped.table-bordered
      thead.table-dark
        tr
          th Curso
          th Cupo total
          th Inscriptos
          th Disponibles
      tbody
        each curso in availableCourses
          tr
            td= curso.name
            td= curso.capacity
            td= curso.taken
            td= curso.availability
  else
    .alert.alert-info No hay cursos activos registrados.
