extends admin-panel-layout

block content
  h2 Alumnos por curso

  if coursesWithStudents.length
    each curso in coursesWithStudents 
      h3= curso.name
      if curso.students.length
        ul
          each alumno in curso.students
            li #{alumno.studentName} #{alumno.studentLastname} - #{alumno.email}
      else
        p No hay alumnos inscriptos en este curso.
  else
    p No hay cursos disponibles.
